{{ define "main" }}
  <main id="main">
    <h1>
      <svg class="bookmark-icon" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
        <use xlink:href="#bookmark"></use>
      </svg>
      {{ .Title }}
    </h1>

    <div class="date">
      {{ range .Params.courses }}
        {{ partial "expandable.html" . }}
      {{ end }}
    </div>

    {{ with .Params.tags }}
      <div class="tags">
        <strong>{{ T "tags" }} </strong>
        <ul aria-label="{{ T "aria_label_tags" }}">
          {{ range . }}
            <li>
              <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
                <use xlink:href="#tag"></use>
              </svg>
              {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

    {{ .Content }}
  </main>
{{ end }}
