{{ define "main" }}
  {{ $news := where .Site.RegularPages.ByLastmod.Reverse "Section" "in" (slice "news") }}

  <main id="main">
    <ul class="patterns-list" id="list">
      {{ range (first 10 $news) }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            <svg
              class="bookmark"
              aria-hidden="true"
              viewBox="0 0 40 50"
              focusable="false"
            >
              <use xlink:href="#bookmark"></use>
            </svg>
            {{ .Title }}
          </a>
        </h2>
        <p>
          <small>{{ .Date.Day }} {{ index (index .Site.Data "months.ru") (printf "%d" .Date.Month) }}, {{ .Date.Year }}</small>
        </p>

        <img src="{{ .Params.image }}" />
        <p>
          {{ .Params.description }}
        </p>
        <a href="{{ .Permalink }}">прочитать больше</a>
      </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
