{{ define "main" }}
  {{ $news := where .Site.RegularPages.ByLastmod.Reverse "Section" "in" (slice "news") }}

  <section class="mw7 center avenir">
    {{ range (first 10 $news) }}
      <article class="bb b--black-10">
        <a class="db pv4 ph3 ph0-l no-underline black dim" href="{{ .Permalink }}">
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="{{ .Params.image }}" class="db" alt="">
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">{{ .Title }}</h1>
              <p class="f6 f5-l lh-copy">
                {{ .Params.description }}
              </p>
              <p class="f6 lh-copy mv0">
                {{ .Date.Day }} {{ index (index .Site.Data "months.ru") (printf "%d" .Date.Month) }}, {{ .Date.Year }}
              </p>
            </div>
          </div>
        </a>
      </article>
    {{ end }}
  </section>
{{ end }}
